<div class="row justify-content-center">
  <div class="col-6">
    <h3 class="text-center">LOG IN</h3>
    <%- msg.length ? `
    <div class="alert alert-danger">${msg}</div>
    `: '' %>

    <form action="" method="post">
      <div class="mb-2">
        <input
          type="email"
          name="email"
          placeholder="Email..."
          class="form-control"
        />
      </div>
      <div class="mb-2">
        <input
          type="password"
          name="password"
          placeholder="Password..."
          class="form-control"
        />
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Log in</button>
      </div>
    </form>
  </div>
</div>
