<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="" method="post">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <button type="submit">Đăng xuất</button>
    </form>
  </body>
</html>
