<h2>List User</h2>

<div class="d-flex justify-content-evenly">
  <a href="/users/role" class="btn btn-primary">Set up Roles</a>

  <a href="" class="btn btn-primary">Add</a>
  <a href="/auth/logout" class="btn btn-danger">Log out</a>
</div>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">SERIAL</th>
      <th>Name</th>
      <th>Email</th>
      <th width="15%">Decentralization</th>
      <th width="5%">Edit</th>
      <th width="5%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(({id, name,email}, index) => { %>
    <tr>
      <th><%= index + 1 %></th>
      <th><%= name %></th>
      <th><%= email %></th>
      <th>
        <a href="/users/permission/<%= id %>" class="btn btn-success"
          >Decentralization</a
        >
      </th>
      <th>
        <a href="" class="btn btn-warning">Edit</a>
      </th>
      <th>
        <a href="" class="btn btn-danger">Delete</a>
      </th>
    </tr>
    <% }) %>
  </tbody>
</table>
